/****************************************************
 * This file is part of the Cinema Player scripts
 *
 * It is provided as is unter the
 * GNU GENERAL PUBLIC LICENSE Version 3
 *
 * @author	  Thomas Winkler <thomas.winkler__at__iggmp.net>
 * @Version   1.0
 * @copyright 2018
 ****************************************************/

body {
	font-family: sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background-color: #505050;
	color: #fff;
}

ul, li, ol {
	margin: 0;
	padding: 0;
}

#page {
	margin: 0;
	padding: 10px;
}

.column {
    display: block;
/*    overflow: scroll;*/
}

@media only screen and (max-width: 900px) {
    .column {
	    width: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .column {
	    width: 50%;
    }
}

@media only screen and (min-width: 900px) {
    .column {
	    width: 33%;
    }
}

#head {
	display: block;
	height: 40px;
	left: 0;
	right: 0;
	border-bottom: 1px solid #a0a0a0;
}

#head_content {
/*	position: absolute;

	left: 10px;
	right: 10px;*/
}

#content {
/*	position: relative;
	top: 50px;*/
    display: block;
}

/*#file_nav, #file_info, #playlist {
	width: 33%;
}*/

#file_nav {
	float: left;
}

#file_info {
	float: left;
}

#playlist {
	float: left;
}

#control {
/*	position: absolute;
	left: 0;
	bottom: 0;*/
	/*height: 80px;
	left: 0;
	right: 0;*/
	display: block;
	border-top: 1px solid #a0a0a0;
	background-color: #505050;
}

#control_content {
	padding: 0;
	margin: 5px;
}

#directory, #files, #pl_files, #info, #playlist_content {
	position: relative;
	border: 1px solid #a0a0a0;
	padding: 10px;
	margin: 0 10px 10px 0;
	min-width: 50%;
}

#position {
	cursor: pointer;
}

.seek {
	position: relative;
	width: 3px;
	height: 100%;
	background-color: red;
	display: block;
}

.video_info, .audio_info {
}

.label {
	position: relative;
	left: 10px;
	width: 100px;
}

.value {
	position: absolute;
	left: 100px;
	border: 1px solid #a0a0a0;
	display: inline-block;
	height: 1em;
	min-width: 150px;
}

.title {
	font-weight: bold;
	font-size: 24px;
}

.subtitle {
	font-weight: bold;
	font-size: 14px;
}

.dir_name {
	font-weight: bold;
	margin-bottom: 10px;
}

.file_box {
	position: relative;
	display: inline-block;

}

.legend {
	position: relative;
	font-size: 80%;
	line-height: 80%;
}

.current_file, .current_playlist, .screensaver {
	float: left;
	height: 18px;
	width: 200px;
	display: inline-block;
	margin: 5px 5px 5px 0;
	padding: 3px 10px 3px 10px;
	border: solid #a0a0a0;
	background-color: #e0e0e0;
	color: #202020;

	overflow: hidden;
}

.screensaver {
	cursor: pointer;
}

.button, .nav {
	cursor: pointer;
	float: left;
}

.nav {
	width: 50px;
	height: 50px;
	padding: 3px 5px 3px 0;
}


.current_volume {
	position: relative;
	background-color: black;
	display: block;
	width: 100%;
	bottom: 0;
}

.off {
	-webkit-filter: brightness(70%);
	filter: brightness(70%);
}

.disabled {
	-webkit-filter: grayscale(100%) brightness(40%);
	filter: grayscale(100%) brightness(40%);
	cursor: auto;
	pointer-events: none;
}

.inactive, .offline {
	cursor: auto;
	pointer-events: none;
}

.lightened, .inactive, .offline {
	-webkit-filter: grayscale(100%) brightness(80%);
	filter: grayscale(100%) brightness(80%);
}

.dir {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dir:before {
	content: '';
	width: 18px;
	height: 18px;
	display: inline-block;
	background-size:contain;
	background-image: url('images/dir.png');
	margin-right: 5px;
}

.file, .playlistfile {
	list-style-type: none;
}

.playlist {
	margin-left: 10px;
}

.status {
	position: absolute;
	font-size: 90%;
	font-weight: bold;
	right: 10px;
	top: 0;
	color: #80ff80;
}


.position {
	position: relative;
	border: none;
	height:15px;

	border: 1px solid #aaaafa;
	color: white;
}

.position_bar {
	top: 0px;
	left: 0px;
	position: absolute;
	height: 100%;
	width: 0px;
	background-color: #8080FF;
}

.time {
    width: 100%;
    height: 20px;
}

.timecode {
    min-width: 100px;
    font-size: 20px;
    text-align: center;
    float: left;
    border: 1px solid black;
    height: 25px;
    margin: 3px 3px 3px 0;
}

.playing {
	color: #a0a0a0;
	border: 1px solid black;
	padding: 3px;
}

.active {
	color: #a0a0ff;
	font-weight: bold;
}
